@import 'src/css/fonts.css';
@import 'src/css/main.scss';
@import 'primeicons/primeicons.css';
@import 'swiper/swiper-bundle.css';

body {
  font-family: 'Vazir';
}

.q-layout {
  direction: rtl;
}

.description {
  font-size: 17px;
}

.phone {
  font-size: 0.9rem;
}

.phone:hover,
.phone:hover a {
  text-decoration: underline;
  color: $primary;
}

.instagram-gradient i {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.address {
  font-size: 0.9rem;
}

.Introducing {
  line-height: 1.5rem;
  text-align: center;
  font-size: 15.3px;
}

.Introducing p {
  max-width: 500px;
  margin: 10px 15px;
}

.Image {
  max-width: 400px;
  width: 100%;
}

.q-img__content > div {
  font-size: 14px;
  padding: 5px;
}

.commentBody {
  min-height: 100px;
  width: 95%;
}

.authForm {
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.authForm .q-field__label {
  left: auto;
  right: 0;
  transform-origin: right top;
}
.authForm .q-field__append {
  padding: 0;
  margin: 0;
}
.authForm .q-field__native {
  width: 85%;
  direction: ltr;
}
.authForm .q-field__control {
  direction: ltr;
}
.authForm .icon {
  position: absolute;
  right: 20px;
  top: 23px;
  cursor: pointer;
}
.authForm a:hover {
  color: $primary;
  text-decoration: underline;
}

.nsm7Bb-HzV7m-LgbsSe-bN97Pc-sM5MNb {
  display: flex !important;
  justify-content: center !important;
  gap: 10px !important  ;
}

.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
  -webkit-flex-grow: unset !important;
  flex-grow: unset !important;
  font-family: 'Vazir', sans-serif !important;
}
